*{
	margin: 0;
	box-sizing:border-box;
}
.layout_product{
	max-width: 1170px;
	margin:0 auto;
}

@import url(../../general/libs/slick/slick-theme p_s.less);
@import url(../../general/libs/slick/slick_p_s.less);
@import url(../../bem/alter_header/alter_header__less.less);
.nav{
	height: 80px;
	width: 100%;
	background: #F9F9F9;
	display: flex;
	align-items: center;
	padding-left: 390px;
	margin-bottom: 50px;
	&_link{
		text-decoration: none;
		font:300 16px/1 'Poppins', sans-serif;
		color:  #7b7b7b;
		margin-right: 5px;
		cursor: pointer;

		&:after{
			content:'/';
			margin-left: 5px;

		}


	}
}
.slider{
	margin-bottom: 10px;
	max-width: 560px;
	border: 1px solid lightgrey;
}
.slider2{
	max-width: 560px;
	&_slide_img{
		border: 1px solid lightgrey;
		height: 159px;
		width: 129px;
	}
}
.prev{
	position: absolute;
	z-index: 1;
	right: 0;
}
.next{
	position: absolute;

	right: 0;
	bottom: 0;
}
.product{
	display: flex;
	margin:0 390px;
	&_sl{
		display: flex;
		flex-direction: column;
	}
}
.choice{
	padding-left: 30px;
	display: flex;
	flex-direction: column;

	&_title{
		font:400 30px/40px 'Poppins', sans-serif;
		color:  #293341;
		text-align: left;
		margin-bottom: 10px;
	}
	&_price{
		margin:20px 0;
		&__new{
			font:600 25px/40px 'Poppins', sans-serif;
			color:  #c91f28;
			text-align: left;
			margin-right: 30px;
		}
		&__old{
			font:300 25px/40px 'Poppins', sans-serif;
			color:  #7b7b7b;
			text-align: left;
			text-decoration:line-through;
		}
	}
	&_text{
		font:300 16px/30px 'Poppins', sans-serif;
		color:  #7b7b7b;
		text-align: left;
	}
}

.timer{
	display: flex;
	align-items: center;
	width: 450px;
	padding: 15px 20px;
	background: #F9F9F9;
	margin:30px 0;
	&_title{
		font:600 16px/25px 'Poppins', sans-serif;
		color:  #293341;
		text-align: left;
	}
	&_div{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&_clock{
		display: flex;
		font:600 20px/16px 'Poppins', sans-serif;
		color:  #23232c;
		&-item{
			padding:0 20px;
			width:70px;
		}
	}
	&_text{
		font:400 13px/16px 'Poppins', sans-serif;
		color:  #23232c;
		margin-top: 5px;
		&-item{
			margin:0 15px;
		}
	}
}
.size{
	display: inline-block;
	margin:20px 0;
	&_title{
		font:500 16px/25px 'Poppins', sans-serif;
		color:  #293341;
	}
	&_check{
		display: none;
		&:checked  + span{
			color: red;
		}
	}
	&_label{
		margin-right: 20px;
		color:  #7b7b7b;
		font:500 16px/25px 'Poppins', sans-serif;
	}
}
.color{
	&_input{
		display: none;
		&:checked .color_label{
			border:1px solid red;
			position:absolute;
		}
	}
	&_title{
		font:500 16px/25px 'Poppins', sans-serif;
		color:  #293341;
	}
	&_label {
		display: inline-block;
		width: 25px;
		height: 25px;
		border-radius:50%;
		margin-right: 10px;
		cursor: pointer;
		&__yellow{
			background:#FFBA00;
		}
		&__grey{
			background:#ACB3B5;
		}
		&__green{
			background:#12594A;
		}
		&__pink{
			background:#E6DBC8;
		}
	}
}
.amount{
	display: flex;
	border:1px #F1F1F1;
	background: #F9F9F9;
	width: 140px;
	&_down:before{
		content: '<';
		// padding:20px;
	}
	&_up:before{
		content: '>';
		// padding:20px;
	}
}